<h1>Tweets analysis</h1>
<div>
    <md-tabs md-dynamic-height md-border-bottom>
        
        <!-- count tab -->
        <md-tab label="Count"
            ng-click="analyticsType('count')">
            <md-content class="md-padding">
                <h3>Tweets count</h3>
                <!-- switch between daily and weekly  view -->
                <md-input-container>
                    <label>View</label>
                    <md-select ng-model="selectedState" ng-change="stateChanged()">
                        <md-option ng-repeat="state in statsStates" 
                            value="{{state.value}}">
                            {{state.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!-- line chart -->
                <canvas id="line"
                    class="chart chart-line tweets-count"
                    chart-data="myTweetsChart.data"
                    chart-labels="myTweetsChart.labels"
                    chart-series="myTweetsChart.series"
                    chart-options="myTweetsChart.options"
                    chart-dataset-override="myTweetsChart.datasetOverride"
                    chart-click="myTweetsChart.onClick">
                </canvas>
            </md-content>
        </md-tab>

        <!-- location tab -->
        <md-tab label="Location"
            ng-click="analyticsType('location')">
            <md-content class="md-padding">
                <h3>Tweets by location</h3>
                <!-- pie chart -->
                <canvas id="pie"
                    class="chart chart-pie location-tweets"
                    chart-data="myTweetsLocationChart.data"
                    chart-labels="myTweetsLocationChart.labels"
                    chart-piece-label="myTweetsLocationChart.pieceLabel"
                    chart-options="myTweetsLocationChart.options">
                </canvas>
            </md-content>
        </md-tab>
    </md-tabs>
</div>