<h1>Search tweets</h1>
<div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <h4>Tweeted on or after</h4>
            <md-datepicker
                ng-model="firstDate"
                ng-change="searchTweet()">
            </md-datepicker>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <h4>Tweeted on or before</h4>
            <md-datepicker
                ng-model="lastDate"
                md-min-date="firstDate"
                ng-change="searchTweet()">
            </md-datepicker>
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-icon-float md-block" flex-gt-sm>
            <label>Tweet content</label>
            <md-icon>search</md-icon>
            <input ng-model="searchText"
                type="text"
                ng-change="searchTweet()">
        </md-input-container>
    </div>
</div>

<div ng-show="zeroResultsFound">No results found</div>

<div ng-show="resultsFound && !zeroResultsFound">
    <h4>Search result(s):</h4>
    <table class="md-table-bordered searched-results">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Tweet</th>
                <th>Tweeted by</th>
                <th>Tweeted at</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oneTweet in tweets">
                <td>{{$index + 1}}</td>
                <td>{{oneTweet.Tweet.tweet}}</td>
                <td>{{oneTweet.Tweet.tweeted_by}}</td>
                <td>{{strToDate(oneTweet.Tweet.tweeted_at)}}</td>
            </tr>
        </tbody>
    </table>
</div>