@font-face {
    font-family:"icomoon";
    src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
    src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
    url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


.main-container {
    height: 100%;
}

/* tweets count line chart */
/* location pie chart */
canvas.tweets-count,
canvas.location-tweets {
    width: 100%;
    max-width: 600px;
    height: auto;
}


/* side nav list */
.side-nav-list {
    margin: 0;
    padding: 0;
}
.side-nav-list a {
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: left;
}

/* searched results */
table.searched-results {
    font-size: 0.8rem;
    border-collapse: collapse;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 100%;
}
table.searched-results tr {
    border: 1px solid #b2b0b0;
}
table.searched-results thead th {
    padding: 8px;
    line-height: 15px;
    color: #808080;
}
table.searched-results tbody tr:hover {
    background-color: #eee;
}
table.searched-results tbody td {
    line-height: 15px;
    padding: 8px;
}
