<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialze -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- custom css files -->
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div ng-controller="LeftCtrl"
        class="layout-row main-container"
        layout="row">
        
        <md-sidenav
            class="site-sidenav md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="2">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Twitter</h1>
            </md-toolbar>

            <md-content>
                <ul class="side-nav-list">
                    <li>
                        <a href="#!/tweets"
                            class="md-button"
                            ng-click="toggleLeft()">
                            Tweets
                        </a>
                    </li>
                    <li>
                        <a href="#!/search-tweet"
                            class="md-button"
                            ng-click="toggleLeft()">
                            Search
                        </a>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>

        <div layout="column" class="layout-column flex">

            <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar _md _md-toolbar-transitions">
                <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
                    <md-button 
                        ng-click="toggleLeft()"
                        class="md-icon-button"
                        aria-label="Menu"
                        hide-gt-sm>
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-content flex layout-padding>
                <div layout="column">
                    <!-- controller specific view -->
                    <div ng-view></div>
                </div>
                <div flex></div>
            </md-content>
        </div>
    </div>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

    <!-- materialze -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- chart js -->
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <!-- module init -->
    <script src="app.js"></script>
    
    <!-- components -->
    <script src="components/constants/globalConstants.js"></script>
    <script src="components/factories/fetchTweetsFactory.js"></script>
    <script src="components/factories/fetchSearchTweetsFactory.js"></script>

    <!-- controllers -->
    <script src="components/controllers/sideNav/sideNav.js"></script>
    <script src="tweets/tweets.js"></script>
    <script src="search-tweets/view.js"></script>
    
</body>
</html>
